*{
    padding: 0;
    margin: 0;
}
.emergency{
    display: none;
    background-color: red;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 100vh;
    background-color: aliceblue;
}
.apart{
    background-color: beige;
    padding: 100px;
    display: flex;
    box-shadow: 20px;
}